.page {
  min-width: 700px;
  max-width: 1400px;
  margin: 0 auto;
  padding: 20px;
  font-family: 'Inter', Arial, sans-serif;
  background-image: linear-gradient(#d8d8d8, #eaeaee);
  border: 3px solid rgb(192, 192, 192);
  border-radius: 30px;
}