@keyframes temperature {
  0% {
    content: '+15';
  }
  25% {
    content: '+16';
  }
  50% {
    content: '+17';
  }
  75% {
    content: '+16';
  }
  100% {
    content: '+15';
  }
}

.card__temp {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 50px;
  line-height: 1.5;
  font-weight: bold;
  color: #fff;
  transition: font-size .2s linear;
}

.card__temp::before {
  content: '0';
  animation: temperature 15s linear infinite forwards;
}

.card__temp:hover {
  font-size: 80px;
}
