@keyframes switch {
  0% {
    bottom: -280px;
    right: -190px;
  }

  13% {
    bottom: -560px;
    right: -190px;
  }

  26% {
    bottom: -280px;
    right: -190px;
  }

  39% {
    bottom: -280px;
    right: 70px;
  }

  52% {
    bottom: -280px;
    right: -190px;
  }

  65% {
    bottom: -40px;
    right: -190px;

  }

  78% {
    bottom: -280px;
    right: -190px;
  }

  92% {
    bottom: -280px;
    right: -490px;
  }

  100% {
    bottom: -280px;
    right: -190px;
  }
}

.card__img_type_weather {
  width: 800px;
  height: 800px;
  position: absolute;
  bottom: -280px;
  right: -190px;
  animation: switch 6s infinite linear forwards;
}